/* body {
    background-image: url('../assets/images/hii.avif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
  }
   */